/*=============头部====================*/
#top{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #cdc;
}
#top .container{
    /*height: 40px;*/
}
#top .top_l{
    width: 200px;

}
#top .top_l li{
    float: left;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}